* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'poppins', sans-serif;
  color: #333;
}

header {
  background: url("images/image3.jpg") center/cover no-repeat;
  padding: 20px;
}
.logo {
	display: inline-block;
	height: 50px;
	margin-right: 20px;
}

.logo img {
	height: 100%;
  border-radius: 100px;
  border: #008cba;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  width: 90%;
  top: 0;
  padding: 20px 7px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 20px;
  font-size: 1.2rem;
}

.hero {
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("hero-bg.jpg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  
  
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background: #008cba;
  color: #fff;
  padding: 10px 20px;
  border-radius: 60px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #00698c;
}

section {
  padding: 5px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-family: 'poppins', sans-serif;
}

section ul {
  list-style: none;
  margin-bottom: 30px;
}
section form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

section ul li {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

form label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

form input,
form textarea {

  display: flex;
  
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #bbc4c7;
  
  
}

form input[type="submit"] {
  background: #008cba;
  color: #fff;
  cursor: pointer;
  width: 100%;

}

footer {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
.services {
	background: #f8f8f8;
  text-align: center;
  padding: 1rem 0;
  }

.service {
	margin-bottom: 40px;
  width: 30%;
  display: inline-block;
  padding: 0 1rem;
  text-align: center;

}

.service img {
  display: grid;
  
	width: 250px;
  	height: 200px;
	margin-bottom: 1rem;
  border-radius: 50px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  
}

.service h3 {
	font-size: 1.3rem;
	
}

.service p {
	font-size: 1.2rem;
	line-height: 1.5;
  }
  
  .about-section {
    text-align: center;
    padding: 0px 0;
    
    
   
  }
  
  .about-section img {
    width: 80%;
    border-radius: 20%;
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    padding: 20px 12px;
  }
  .message-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .message-section h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .message-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .message-content img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }
  
  .message-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .manager-name {
    font-size: 20px;
    font-weight: bold;
  }
  @media (max-width: 767px) {
    .service img {
      display: grid;
  
      width: 250px;
        height: 200px;
      margin-bottom: 1rem;
      border-radius: 50px;
      padding: 5px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
      
    }
    .service p {
      font-size: 1rem;      
      line-height: 2;
      text-overflow: clip;
      text-align: center;
      }
      .service h3 {
        font-size: 1rem;
        text-align: center;
        
        font-weight: 10px;
        margin-bottom: 10px;
        
        
      }
      .service {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-items: center;
        align-items: center;
      }
      body {
        margin: 0;
        padding: 0;
      }

      
      header {
        background: url("images/image3.jpg") center/cover no-repeat;
        padding: 20px;
    
  }
  .logo {
    position: absolute;
      top: 0.5rem;
    left: 0rem;
    width: 30px;
    height: 45px;
    z-index: 999;
  }
  
  nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    width: 100%;
  }
  nav nav ul li  {
    display: inline-block;
    
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #444;
  }
  nav a:hover {
    color: #630ed2;
  }
  .hero {
  background: linear-gradient(
    rgba(252, 250, 250, 0.7),
      rgba(255, 255, 255, 0.7)
      
    ),
    url("hero-bg.jpg") center/cover no-repeat;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  
  
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
  }
  
    
    